@charset "utf-8";
#section{
    width: 100%;
    height: 1097px;
    text-align: center;
    background: url(../img/SUB_BG.jpg) no-repeat center/cover;
    background-attachment: fixed;
}
.cont1{
    width: 100%;
    height: 340px;
    background-color: #ffe;
    padding-top: 110px;
    color: #333;
}
.cont1 h2{
    margin-bottom: 30px;
}
.cont1 span{
    display: block;
}


.cont2{
    width: 100%;
    height: 757px;
    position: relative;
    padding: 150px 0;
}
.cont2 .txtB{
    width: 1600px;
    height: 440px;
    margin: 0 auto;
}
.cont2 .txtB span{
    display: block;
    width: 500px;
    height: 200px;
    float: left;
    background-color: #fff;
    margin: 0 15px 20px;
    line-height: 200px;
    font-size: 25px;
    font-weight: 600;
}